/* Lightbox */
.lightbox {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    z-index: 3000;
    opacity: 0;
    
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .lightbox.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Lightbox Image */
  .lightbox-img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 5px;
    animation: lightboxFade 0.3s ease;
  }
  
  /* Lightbox Close Button */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  /* Lightbox Fade Animation */
  @keyframes lightboxFade {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  